
version: '3.7'
services:
    nginx:
      image: nginx:latest
      ports:
        - target: 80
          published: 80
          protocol: tcp
      depends_on:
        - app
      volumes:
        - type: bind
          source: ./nginx/nginx.conf
          target: /etc/nginx/nginx.conf

    app:
      image: flask:latest
      build: 
        context: ./service4
        dockerfile: ../Dockerfile
      ports:
        - target: 5000
          published: 5000
          protocol: tcp
      environment:
        - MYSQL_USER=${MYSQL_USER}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        - MYSQL_IP=${MYSQL_IP}
        - MYSQL_DB=${MYSQL_DB}
        - SECRET_KEY=${SECRET_KEY} 
    service1:
       build:
        context: ./service1
        dockerfile: ../Dockerfile
    service2: 
       build: 
        context: ./service2
        dockerfile: ../Dockerfile
    service3: 
       build:
        context: ./service3
        dockerfile: ../Dockerfile



