{% extends "layout.html" %}
<!DOCTYPE html>
<html>
{% block body_content %}
<head>
    <h1></h1>
    <h2>Prizes</h2>
<style>
table, th, td {
  border: 1px solid black;
  border-style: dotted;
  border-collapse: collapse;
}
th, td { 
    padding: 5px;
    }
th { 
    text-align: left;
    }
</style>
</head>
<table style="width:100%">
<body>
<tr>
<th> ID</th>
<th> UserName</th>
<th> Prize </th>
</tr>
{% for prize in prize %}
<tr>
<td>{{ prizes.id }}</td>
<td>{{ prizes.user_name }}</td>
<td>{{ prizes.prize }}</td>
<td><button type="button"> cash-in </button></td>
</tr>
{% endfor %}
</body>
{% endblock body_content %}
</html>

