<!DOCTYPE html>
<html>
{% block body_content %}
        <head>
                <h1> DarePhase </h1>
        </head>
        <body>
                <div class="form">
                <form method="POST" action="">
                        <div class="form-group">
                                {{ form.submit }}
                                <p>  {{ data.0 }} </p>
                                <p><i> Playing {{ user_name }} <i><p>
                        </div>
                </form>
                </div>
        </body>
{% endblock body_content %}
</html>
~                              
